<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/webapp/img/favicon.ico}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/webapp/css/style.css}">
</head>



<body>
<div class="container">
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img th:src="@{webapp/img/default-avatar.webp}" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                        </div>
                    </div>
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body p-0">

                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" th:text="${user.firstName} + ' ' + ${user.lastName}"></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" th:text="${user.email}"></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" th:text="${user.login}"></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Registration date</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" th:text="${user.registered}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-dark-striper table-bordered">
                            <thead class="table-dark">
                            <tr class="text-center">
                                <th>Cards</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr width="500" th:each="account : ${accounts}">
                                <td>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <p class="font-weight-bold"  th:text="${account.name}">Account name</p>
                                            <p th:text="${account.accountNumber}">Account number</p>
                                            <p th:text="${account.balance} + ' ' + ${account.currency}">Account balance</p>
                                            <p th:style="${account.active} == TRUE ? '' : 'background: red'" th:text="${account.active} == TRUE ? '' : 'blocked'"></p>
                                        </div>
                                        <div class="col-md-2">
                                            <p><button class="btn btn-secondary btn-size">Transfer</button></p>
                                            <p><button class="btn btn-secondary btn-size">History</button></p>
                                            <p><button class="btn btn-secondary btn-size">Block</button></p>
                                        </div>
                                    </div>
                                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>