<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online Banking</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/webapp/css/style.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/webapp/img/favicon.ico}"/>

</head>
<body>
<div clas="container">
    <header th:include="fragment/navbar :: navbar"></header>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/users/new}" class="btn btn-primary btn-sm mb-3">Add a Client</a>
        </div>
    </div>
    <table class="table table-dark-striper table-bordered">
        <thead class="table-dark">
        <tr class="text-center">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr width="500" th:each="user : ${userList}">
            <td width="100" th:text="${user.firstName}"></td>
            <td width="100" th:text="${user.lastName}"></td>
            <td width="100" th:text="${user.login}"></td>
            <td width="100" th:text="${user.email}"></td>
            <td width="100" th:style="${user.isActive} == TRUE ? '' : 'background: red'" th:text="${user.isActive}"></td>
            <td width="200">
                <div>
                    <div class="row d-flex justify-content-center">
                        <form th:action="@{/users/details/{id}(id=${user.id})}" th:object="${user}" method="GET">
                            <button class="btn btn-info rounded-0 btn-size">Details</button>
                        </form>
                        <form th:action="@{/accounts/{id}(id=${user.id})}" th:object="${user}" method="GET">
                            <button class="btn btn-info rounded-0 btn-size">Accounts</button>
                        </form>

                        <button class="btn btn-info rounded-0 btn-size">History</button>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <form th:action="@{/users/edit/{id}(id=${user.id})}" th:object="${user}" method="GET">
                            <button class="btn btn-info rounded-0 btn-size">Update</button>
                        </form>
                        <form th:action="@{/users/block/{id}(id=${user.id})}" th:object="${user}" method="POST">
                            <button class="btn btn-info rounded-0 btn-size">Block</button>
                        </form>
                        <form th:action="@{/users/delete/{id}(id=${user.id})}" th:object="${user}" method="POST">
                            <button type="submit" class="btn btn-info rounded-0 btn-size">Delete</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>